*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


body{
    background: rgb(172, 172, 172);
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'DM Sans', sans-serif;
  
}

header{
    grid-area: Header;
    height: 100%;
    width: auto;
    background-image: url("../images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
}

.header-heading{
    margin-top:2.5rem;
    color:white;
    font-size: 3rem;
}


.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap:0px 0px;
    grid-template-areas:
    "Header Header Header Header"
    "main-content main-content main-content main-content"
    "main-content main-content main-content main-content";
    justify-content: center;
    align-content: center;
    align-items:center;
    height:100vh;
    width: 100vw;
}

.content-wrapper{
    grid-area: main-content;
    background: rgb(221, 221, 221);
    height:100%;
}


.info-wrapper{
    background: white;
    border-radius: 0.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:75%;
    margin: -4rem auto 0 auto;
    padding:2rem;
    position: absolute;
    z-index: 999;
    left:0;
    right:0;
    -webkit-box-shadow: 0px 10px 15px 0px #989898; 
    box-shadow: 0px 10px 15px 0px #989898;
    transition: 0.5s;
    
}


.search-form{
    width:35%;
    margin:auto;
    display:flex;
    flex-direction: row;
}

#search-button{
    padding:1rem;
    background-color: rgb(53, 53, 53);
    color:white;
    border:none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: bold;
    font-size: 1.15rem;
    transition: background-color 0.25s ease-in-out;
}

#search-button:hover{
    background-color:black;
    cursor:pointer;
}

#site-search{
    width:100%;
    padding:1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border:none;
}

.info-heading{
    text-transform:uppercase;
    color:rgb(197, 197, 197);
    font-weight: bold;
}

.info-bold{
    font-weight: bold;
    margin-top:1rem;
    font-size: 2rem;
}


.ip-info, .location-info, .timezone-info{
    border-right: 1px solid gray;
 
    float: left;
}

.ip-info, .location-info, .timezone-info, .lsp-info{
   width:100%;
   margin-left: 2rem;
}


#map {
     height: 100%; 
     width:100%;
    }